<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title || "Architecture Toolkit" }}</title>
    @if(reactStyles)
      @each(style in reactStyles)
        <link rel="stylesheet" href="{{ style }}" />
      @end
    @end
  </head>
  <body>
    @if(pageContent)
      {{{ pageContent }}}
    @else
      <div id="root"></div>
    @end

    @if(reactEntry)
      <script type="module" src="{{ reactEntry }}"></script>
    @end
  </body>
</html>
